/*mixins*/
	/*set element with absolute position*/
	@mixin setAbsolute($top, $bottom, $left, $right, $width, $height){
		position: absolute;
		@if $top != "" { top: $top; }
		@if $bottom != "" { bottom: $bottom; }
		@if $left != "" { left: $left; }
		@if $right != "" { right: $right; }
		@if $width != "" { width: $width; }
		@if $height != "" { height: $height; line-height: $height; }
	}
	/*set an element*/
	@mixin setDims($float, $width, $height, $margin, $padding){
		@if $float != "" { float: $float; }
		@if $width != "" { width: $width; }
		@if $height != "" { height: $height; line-height: $height; }
		@if $margin != "" { margin: $margin; }
		@if $padding != "" { padding: $padding; }
	}
	/*set colors of element*/
	@mixin setColors($color, $back){
		@if $back != "" { background: $back; }
		@if $color != "" { color: $color; }
	}
	/*set border of element*/
	@mixin setBorders($radius, $border){
		@if $radius != "" { border-radius: $radius; }
		@if $border != "" { border: $border; }
	}
	/*set element hover*/
	@mixin setHover($trans, $color, $back){
		&:hover {
			@if $trans != ""{
				transition : $trans;
			}@else{
				transition: 0.5s;
			}
			@if $back != "" { background: $back; }
			@if $color != "" { color: $color; }
		}
	}
	/*set height*/
	@mixin setHeight($h){
		@if $h != "" {
			height: $h;
			line-height: $h;
		}
	}
	/*grid block*/
	@mixin grid($t, $b, $l, $r, $w, $h, $bs){
		@include setAbsolute($t, $b, $l, $r, ($w*$bs)-10, ($h*$bs)-10);
		margin: 10px;
	}